.toolbar {
  /* Welcome */
  height: 28px;
  left: 12px;
  top: 10px;
/* Theme 2 / Subhead 1 */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
/* identical to box height, or 140% */
  display: flex;
  flex-wrap: wrap;
/* Theme 2 / Neutral 1 */
  color: #28352F;
/* Inside auto layout */
  margin: 0px 0px;
/*changing list style*/
  list-style: none;
}
.toolbar .welcome {
  flex: 1;
}
.headline {
  display: flex;
  flex-direction: column;
}
.headline p {
/* Supporting Text */
  width: 327px;
  height: 164px;
  left: 24px;
  top: 314px;
/* Theme 2 / Body Reguler 1 */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  margin-top: 0%;
  margin-bottom: 0%;
  /* Neutrals/N800 */
  color: #172B4D;
}
.headline span {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
/* Neutrals/N500 */
  margin-top: 0;
  color :blue
}
.headline img {
    margin-top: 10px;
    width: fit-content;
    align-self: flex-start;
}